<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ToDo - Getting things done!</title>
</head>

<body>
<h1>Hi <%= name %>!</h1>
<p id="todos">The number of todo's: <%= todoItems %></p>
<p id="clearedTodos">The number of cleared todos's: <%= cleared %></p>
<p id="lists">The number of lists's: <%= lists %></p>
</body>
</html>
